@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    max-width: 450px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin: auto;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
}

input{
    max-width: 300px;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    background-image: linear-gradient(45deg, #2e31929f 0%, #1bffffb6 99%, #1bffffb6 100%);
}

button{
    background-image: linear-gradient(45deg, #2e31929f 0%, #1bffffb6 99%, #1bffffb6 100%);
    padding: 5px 10px;
    border-radius: 40px;
    margin-left: 10px;
}
button:hover{
    opacity: .9;
}
button i{
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
    color: white;
}

h1{
letter-spacing: 5px;
color: rgb(53, 151, 243);
}

@media (max-width:668px) {
    .card{
      
       
        padding: 20px 10px;
        
    }
}

